<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./tyylit/tyyli.css">
        <title>Festivaali - <%= festivaali %> <%= kaupunki.nimi %></title>
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav-links">
                    <li>
                        <a href="/">Kotisivu</a>
                    </li>

                    <li>
                        <a href="/artistit">Artistit</a>
                    </li>

                    <li>
                        <a href="/kaupungit">Kaupungit</a>
                    </li>

                    <!-- <li>
                        <a href="/festivaalit">Festivaalit</a>
                    </li> -->
                </ul>
            </nav>
        </header>

        <div class="container">
            <div class="festivaali">
                <h2><%= festivaali %> - <%= kaupunki.nimi %></h2>
                <p id="paivamaara"><%= kaupunki.paivamaara %></p>

                <h3>Esiintyjät</h3>

                <% artistit.forEach(artisti => { %>
                    <p id="artisti"><%= artisti.nimi %></p>
                <% }) %>
            </div>
        </div>

        <div class="takaisin">
            <a href="/">Palaa takaisin</a>
        </div>
    </body>
</html>